<ion-header>
	<ion-navbar>
		<ion-title>Home</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list sticky>
		<ion-item *ngIf="myPlayer">
			<h2>Me</h2>
			<p>Score: {{ myPlayer.record }} ---- <b>Hits: {{ myPlayer.hits }}</b></p>
		</ion-item>
		<ion-item *ngIf="otherPlayer">
			<h2>{{ otherPlayer.name }}</h2>
			<p>Score: {{ otherPlayer.record }} ---- <b>Hits: {{ otherPlayer.hits }}</b></p>
		</ion-item>
	</ion-list>
	<match-form (onMatchResolved)="setMatch($event)" *ngIf="!match; else matchBoard"></match-form>
	<ng-template #matchBoard>
		<match-board *ngIf="!match.finished" [match]="match" [myPlayer]="myPlayer" [otherPlayer]="otherPlayer"></match-board>
		<match-finished *ngIf="match.finished" [winner]="winner" (onContinue)="exit()"></match-finished>
	</ng-template>
</ion-content>
